RAG_Agent.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-2",
          "mode": "list",
          "cachedResultName": "rag-2"
        },
        "options": {}
      },
      "id": "9f3f6cce-d0cc-42ab-9804-570c408573df",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1424,
        848
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "NKBiCPYG7TOyP3CC",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5e5af5ab-eec4-44f6-a446-05b78127ff7d",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        1392,
        1136
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "uCy8bmQfaeJzoneC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "4985579b-0cea-4dcd-8583-8032d3ac7aa8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1584,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "2b4c3040-5abd-438b-b722-d23f52de48f0",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1568,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook1').item.json.body.message }} || {{ $('Webhook1').item.json.body.sessionId }}",
        "options": {
          "systemMessage": "You are a helpful student assistant designed to give answer when you asked any questions by retrieving information from the provided PDF and study documents.\n\nYou MUST always use the tool named \"document_search_tool\" to find answers, even if you believe you already know them. Never rely on your own memory.\n\nAfter retrieving, summarize the relevant information clearly and concisely.\n\nIf the retrieved results are empty or irrelevant, reply with:\n\"I cannot find the answer in the available resources.\"\n"
        }
      },
      "id": "2edae06b-1a01-463e-b45f-509e6f2d461a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1376,
        16
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "document_search_tool",
        "description": "Use this tool whenever you need to look up information in documents or PDFs."
      },
      "id": "5dd567dc-19b2-4f0f-89fc-f1f96437f377",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1776,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-2",
          "mode": "list",
          "cachedResultName": "rag-2"
        },
        "options": {}
      },
      "id": "4ab735c8-3b28-44fa-ba2a-4cb452a2d8ac",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1680,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "NKBiCPYG7TOyP3CC",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d14dd128-f33e-4ef0-ba4a-3cc5bd35e9de",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        1664,
        576
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "uCy8bmQfaeJzoneC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "036b7f97-1626-441c-9da3-1cc8796c0e1d",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1216,
        848
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3EbmIJwz7D9fTlf8",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1f8IfEdEOl5eJCwtrsmmcODKlCQh1Lp1k",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1f8IfEdEOl5eJCwtrsmmcODKlCQh1Lp1k"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "b07f0e44-953a-4554-952b-0fe7f7d4a92d",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        992,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3EbmIJwz7D9fTlf8",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.sessionId }}"
      },
      "id": "e93547d1-7511-4634-931d-97323fadea83",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1456,
        320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "60120606-02c1-4ea6-a99d-773d19ac576e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "id": "dc468121-fa43-4390-990f-ae20acc93f9a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1280,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "uCy8bmQfaeJzoneC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "8f8a1caf-18dd-4a6f-a846-178e50b56c7f",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2032,
        416
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "uCy8bmQfaeJzoneC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "RAG_n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        880,
        16
      ],
      "id": "69e02aa2-d788-4158-a772-617fabcc77f0",
      "name": "Webhook1",
      "webhookId": "4e6587a3-8fed-4e5e-9f88-94ed3488f9d6"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"message\": \" {{ $json.body.message }}\",\n  \"sessionId\": \"{{ $json.body.sessionId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        16
      ],
      "id": "f3973af4-e90c-47bb-8d4c-7b0f6efc3855",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output || $json.answer || \"No response received from AI.\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1872,
        16
      ],
      "id": "868a62bf-e3ec-4168-96c5-8306a15412fa",
      "name": "Respond to Webhook1",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fc014ae-1a9f-4bb9-8545-47a45d92d972",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcfcd7668aa2fefb15551c4e9756682d24d04febb5f03b5f132ca4b304fb8466"
  },
  "id": "QkzXUB8MYuoa4NM4",
  "tags": []
}